{% extends "base.html" %}

{% block content %}
<form action="/add-event" method="POST">
    <label for="date">Date</label>
    <input type="date" name="date" id="date">
    <br>

    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>

    <label for="attendees">Attendees</label>
    <input type="number" name="attendees" id="attendees">
    <br>

    <label for="location">Location</label>
    <input type="text" name="location" id="location">
    <br>

    <label for="description">Description</label>
    <input type="text" name="description" id="description"><span>   </span>
    <br>

    <label for="recurring">Recurring</label>
    <input type="checkbox" name="Recurring" id="recurring">
    <br>
    

    <input type="submit" value="Add Event">
    </form>


<ul>
    {% for event in events %}
    <li>
        {{event.date}}:
        <br>
        {{event.name}}:
        <br>
        {{event.attendees}}:
        <br>
        {{event.location}}:
        <br>
        {{event.description}}:
        <br>
        
        {%  if event.recurring  %}
        <span> Event is recurring</span>
        {%  endif  %}
        
            
    </li>
    {% endfor %}
</ul>    

{% endblock %}