{%  extends "base.html"  %}

{%  block content  %}
    <form action="/add-task" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="2"></textarea>

        <input type="submit" value="Add Task">
    </form>



<ul>
    {%  for task in tasks  %}
        <li>
            {{  task.title  }}: <br> {{  task.description  }}
            {%  if task.done  %}
            <span> &#9989;</span>
            {%  endif  %}
        </li>
    {%  endfor  %}
</ul>

{%  endblock  %}